
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai2</title>
</head>
<body>
    <div>
    </div>
    <form action="" method="post">
        <h1>Thông tin đăng nhập sinh viên</h1>
        <table>
            <tr>
                <th align="left"><label>Mã số sinh viên:</label></th>
            </tr>

            <tr>
                <td><input id="name" type="text" maxlength="30" tabindex="1" /></td>
            </tr>

            <tr>
                <th align="left"><label>Mật khẩu:</label></th>
            </tr>

            <tr>
                <td><input id="password" type="text" maxlength="30" tabindex="1" /></td>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <td>
                    <input id="Save" type="radio" value="Lưu thông tin đăng nhập" /> Lưu thông tin đăng nhập
                </td>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <td><input id="Login" type="button" value="Đăng nhập" /></td>
            </tr>

            <tr>
                <td></td>
            </tr>

            <tr>
                <td>Sử dụng thông tin đăng nhập do trường hợp khẩn cấp, nếu quên mật khẩu nhấn vào đây.</td>
            </tr>
        </table>
    </form>
</body>
</html>
