
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai3</title>
</head>
<body>
    <div>
    </div>
    <form action="" method="post">
        <fieldset>
            <legend>Lấy lại mật khẩu:</legend>
            <table>
                <tr>
                    <td><label>Mã số sinh viên:</label></td>
                </tr>

                <tr>
                    <td><input id="name" type="text" maxlength="50" tabindex="1" /></td>
                </tr>

                <tr>
                    <td><label>Mật khẩu cũ:</label></td>
                </tr>

                <tr>
                    <td><input id="oldpw" type="text" tabindex="1" /></td>
                </tr>

                <tr>
                    <td><label>Mật khẩu mới:</label></td>
                </tr>

                <tr>
                    <td><input id="newpw" type="text" tabindex="1" /></td>
                </tr>

                <tr>
                    <td><label>Nhập lại mật khẩu mới:</label></td>
                </tr>

                <tr>
                    <td><input id="reEnter" type="text" tabindex="1" /></td>
                </tr>

                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>

                <tr>
                    <td><input id="Save" type="button" value="Lưu lại" /></td>
                </tr>
            </table>
        </fieldset>
    </form>

</body>
</html>
